.allClient thead tr th {
  border: 1px solid black;
  padding: 0 5px;
  font-size: 15px;
}
.allClient {
  position: relative;
}
.allClient table {
  width: 100%;
}
.allClient tbody tr td {
  border: 1px solid black;
  padding: 0 5px;
  font-size: 15px;
}
.allClient {
  border-spacing: 2px;
}
.client-wrapper-nakladnoy {
  margin-bottom: 20px;
  border-bottom: 3px solid black;
  padding-bottom: 10px;
}
.allClient .nakladnoy {
  border: 1px solid var(--back-blue);
  border-radius: 10px;
  padding: 10px 5px;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 20;
}
.two-pod {
  display: flex;
  align-items: center;
  gap: 0 100px;
  margin-top: 20px;
}
.client-wrapper-nakladnoy {
  page-break-inside: avoid;
  clear: both;
}
.client-wrapper-nakladnoy:nth-child(4n-2):not(:last-child) {
  clear: both;
  page-break-after: always;
}
@media print {
  .allClient .nakladnoy {
    display: none;
  }
  .custom-datepicker {
    display: none;
  }
}
