.modal-overlay_addProd {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_addProd {
  background-color: #fff;
  padding: 34px 64px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 558px;
  min-height: 509px;
}
.image-drop.dragging {
  background-color: rgb(103, 219, 103);
}
.image-drop {
  width: 444px;
  height: 74px;
  border: 1px solid var(--back-blue);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 49px;
}

.image-drop span {
  font-size: 20px;
  font-weight: 400;
  color: var(--back-blue);
}
.inputs {
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  gap: 6px 0;
}
.inputs .inp {
  display: flex;
  align-items: center;
  gap: 0 10px;
}

.inputs .inp span {
  width: 107px;
}
.inp_price {
  width: 111px;
}

.inputs .inp div {
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: 1px solid var(--back-blue);
  padding: 0 5px;
}
.inputs .inp input {
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 9px 13px;
  position: relative;
}

.inputs .inp::after {
  content: "";
  background-color: #d40808;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
}
.prod_name {
  border: 1px solid var(--back-blue) !important;
}
.btns_prod {
  display: flex;
  gap: 0 24px;
  justify-content: center;
  margin-top: 86px;
  align-items: center;
}
.btns_prod button {
  padding: 10px 36px;
  border-radius: 10px;
  border: 1px solid var(--back-blue);
  cursor: pointer;
}
.addProd_add {
  background-color: var(--back-blue);
  color: white;
}
.addProd_close {
  background-color: transparent;
  color: black;
}
