.client-right {
  margin-top: 233px;
  display: flex;
  flex-direction: column;
  height: 538px;
  overflow-y: scroll;
}
.client-right::-webkit-scrollbar {
  width: 3px;
}

.client-right::-webkit-scrollbar-thumb {
  background-color: var(--back-blue);
  border-radius: 5px;
}

.client-right::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.client-right::-webkit-scrollbar-track {
  background-color: #ddd;
}
.tableclient thead {
  background-color: var(--back-blue);
}
.tableclient thead th {
  padding: 10px 20px;
  color: #fff;
}

.tableclient tbody tr td {
  padding: 10px 20px;
  text-align: center;
}

.tableclient tbody tr td svg {
  cursor: pointer;
}
.tableclient tbody tr:nth-child(2n) {
  background-color: #eee;
}
