.modal-overlay_del {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_del {
  background: #fff;
  width: 995px;
  height: 612px;
  position: relative;
  border-radius: 10px;
  padding-top: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close_del {
  position: absolute;
  cursor: pointer;
  left: 26px;
  top: 26px;
}
.info_del {
  display: flex;
  gap: 0 35px;
  margin-bottom: 63px;
}
.info-card {
  width: 250px;
  height: 126px;
  border: 1px solid var(--back-blue);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.info-card .sum-info {
  font-size: 30px;
  font-weight: 500;
}
.info-card span {
  font-size: 13px;
  font-weight: 500;
}
.modal_del {
  margin-top: 51px;
}
.modal_del table caption {
  font-family: Montserrat;
  text-align: left;
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
}

.modal_del table {
  width: 593px;

  border-spacing: 0;
}
.modal_del table tr th {
  height: 46px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.modal_del table tr th:nth-child(4) {
  text-align: center;
}
.modal_del table tr td {
  margin: 3px 0;
  padding: 5px 0;
  border: 1px solid #fff;
}

.modal_del table tr td:nth-child(4) {
  color: red;
  text-align: center;
}
.modal_del table tr:nth-child(2n) {
  background-color: #eee;
}
.table-deli {
  height: 430px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.table-deli::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
.table-deli::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #dfe9eb;
}

.table-deli::-webkit-scrollbar-track:hover {
  background-color: #b8c0c2;
}

.table-deli::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

.table-deli::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #cccccc;
}

.table-deli::-webkit-scrollbar-thumb:hover {
  background-color: #62a34b;
}

.table-deli::-webkit-scrollbar-thumb:active {
  background-color: #62a34b;
}
.modal_del .nakladnoy {
  font-size: 13px;
  font-weight: 400;
  padding: 7px 22px;
  border: 1px solid var(--back-blue);
  background-color: transparent;
  border-radius: 10px;
  margin: 20px 0;
  cursor: pointer;
}
