.orders-left {
  width: 236px;
  display: flex;
  flex-direction: column;
  gap: 29px 0;
}
.left-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--back-blue);
  border-radius: 5px;
  padding: 8px 19px;
}

.left-input input {
  border: none;
  outline: none;
}
.list-title {
  padding: 12px 20px;
  background-color: var(--back-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
}
.list-name {
  text-align: center;
  padding: 12px 20px;
  cursor: pointer;
}

.list-name:nth-child(2n) {
  background: #eeeeee;
}
