.modal_change {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 15px;
}
.modal-content_change {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  padding: 60px;
  width: 400px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--back-blue);
  border-radius: 10px;
}

.modal-content_change input {
  border: 1px solid var(--back-blue);
  padding: 8px 10px;
  border-radius: 10px;
}

.modal-content_change button {
  border: 1px solid var(--back-blue);
  padding: 10px 0;
  background-color: var(--back-blue);
  color: #fff;
  border-radius: 10px;
}
