.modal-overlay_redirectProduct {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content_redirectProduct {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  text-align: center;
  width: 400px;
  min-height: 200px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--back-blue);
  border-radius: 10px;
}
.modal-content_redirectProduct .inputs .inp::after {
  width: 0;
}

.modal-content_redirectProduct .inputs {
  gap: 20px 0;
}

.modal-content_redirectProduct button {
  padding: 8px 15px;
  background-color: var(--back-blue);
  border-radius: 5px;
  color: #fff;
  margin-top: 25px;
}
